body{
    background: #fcf6ff;
}
.mainForm {
    margin-left: 30%;
}
caption{
    color: #383e3c;
    font-size: 20px;
}
table {
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

}
th{
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td{
    color: #524f4e;
}
.text{
    background: #ffd957;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    font-family: Georgia,Arial;
    padding: 3px;
}

input{
    margin: 30px 20px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}
input:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
#add{
    padding-left: 10px;
}
td:first-child{
    text-align: left;
}
.td{
    background: white;
}