<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert data</title>
</head>
<body>
<div id="Main">
    <div>
        <table>
            <tr>
                <td><p>Contact name:</p></td>
                <td><input type="text" size="30" placeholder="Enter name"></td>
            </tr>
            <tr>
                <td><p>Address:</p></td>
                <td><input type="text" size="30" placeholder="Enter address"></td>
            </tr>
            <tr>
                <td><p>Phone:</p></td>
                <td><input type="tel" size="30" placeholder="Enter phone"></td>
            </tr>
            <tr>
                <td><p>Email:</p></td>
                <td><input type="email" size="30" placeholder="Enter email"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>