<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/add.css" th:href="@{/css/add.css}">
    <meta charset="UTF-8">
    <title>Insert data</title>
</head>
<body>
<div id="Main">
    <div>
        <!--/*@thymesVar id="information" type="com.example.tablephone.model.Information"*/-->
        <form th:action="@{/phonebook/add}" th:object="${information}" method="post">
            <table>
                <tr>
                    <td><p>Contact name:</p></td>
                    <td><input type="text" size="30" placeholder="Enter name" th:field="*{contactName}"></td>
                </tr>
                <tr>
                    <td><p>Address:</p></td>
                    <td><input type="text" size="30" placeholder="Enter address" th:field="*{address}"></td>
                </tr>
                <tr>
                    <td><p>Phone:</p></td>
                    <td><input type="tel" size="30" placeholder="Enter phone" th:field="*{phone}"></td>
                </tr>
                <tr>
                    <td><p>Email:</p></td>
                    <td><input type="email" size="30" placeholder="Enter email" th:field="*{email}"></td>
                </tr>
            </table>
            <button type="submit">ADD</button>
            <!--/*@thymesVar id="error" type="com.example.tablephone.controllers.MainController"*/-->
            <p th:if="${error}" th:utext="${error}"style="color: red; font-style: italic">...</p>
        </form>

    </div>
</div>
</body>
</html>