<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete data</title>
    <link rel="stylesheet" href="../static/css/delete.css" th:href="@{/css/delete.css}">
</head>
<body>
<div id="Main">
    <div>
        <!--/*@thymesVar id="information" type="com.example.tablephone.model.Information"*/-->
        <form th:action="@{/phonebook/delete}" th:object="${information}" method="post">
            <table>
                <tr>
                    <td><p>Phone:</p></td>
                    <td><input type="tel" size="30" placeholder="Enter phone" th:field="*{phone}"></td>
                </tr>
            </table>
            <button type="submit">DELETE</button>
            <p th:if="${error}" th:utext="${error}" style="color: red; font-style: italic">...</p>
        </form>
    </div>
</div>
</body>
</html>