<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phonebook</title>
    <link rel="stylesheet" href="../static/css/phonebook.css" th:href="@{/css/phonebook.css}">
</head>
<body>
<div>
    <div class="mainForm">
        <form th:action="@{/logout}" method="post">
            <table class="table">
                <caption><p>Contacts</p></caption>
                <tr>
                    <th>Contact name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                <!--/*@thymesVar id="information" type="com.example.tablephone.controllers"*/-->
                <tr th:each="phone :${information}">
                    <td class="text" th:utext="${phone.contactName}">...</td>
                    <td class="text" th:utext="${phone.address}">...</td>
                    <td class="text" th:utext="${phone.phone}">...</td>
                    <td class="text" th:utext="${phone.email}">...</td>
                </tr>
            </table>
        </form>


        <div>
        <table id="table2">
            <tr>
                <td class="input"> <form th:action="@{/phonebook/add}"><input type="submit" id="add" value="Add "></form></td>
                <td class="input">  <form th:action="@{/phonebook/delete}"><input type="submit" id="delete" value="Delete"></form></td>
            </tr>
        </table>



        </div>
    </div>
</div>

</body>
</html>