<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
    <link th:href="@{/css/verify.css}" rel="stylesheet" href="../static/css/verify.css">
</head>
<body>

<div>
    <div id="MainForm">
        <h3>Entrance</h3>
        <!--/*@thymesVar id="autorize" type="com.example.tablephone.model.Authorize"*/-->
        <form th:action="@{/verify}" th:object="${autorize}" method="post">
            <div class="form">
                <div><input class="text" id="login" name="username" type="text" placeholder="Enter login" size="25"
                            th:field="*{login}"></div>
                <div><input class="text" id="password" name="password" type="password" placeholder="Enter password"
                            size="25"
                            th:field="*{password}">
                </div>
            </div>
            <!--/*@thymesVar id="error" type="com.example.tablephone.controllers.VerifyController"*/-->
            <p th:if="${error}" th:utext="${error}" style="color: red; font-style: italic">...</p>
                        <input class="button" type="submit" id="submit" value="Continue"/>


        </form>
        <form th:action="@{/verify/registration}">
            <input class="buttonRegistration" type="submit" value="Create account  " id="Registration"
                   th:href="@{/verify/registration}">
        </form>

    </div>


</div>
</body>
</html>